<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${specialfolder:folder=ApplicationData}/DisplayProfileManager/Logs/nlog-internal.log">

  <!-- Define log file variables -->
  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/DisplayProfileManager/Logs"/>

  <!-- Define targets -->
  <targets>
    <!-- File target for all logs -->
    <target xsi:type="File"
            name="logfile"
            fileName="${logDirectory}/DisplayProfileManager-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
            archiveFileName="${logDirectory}/archives/DisplayProfileManager-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Console target for debug output -->
    <target xsi:type="Console"
            name="console"
            layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:${newline}${exception:format=message}}" />

    <!-- Colored console target -->
    <target xsi:type="ColoredConsole"
            name="coloredConsole"
            layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:${newline}${exception:format=message}}"
            useDefaultRowHighlightingRules="true" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- All logs to file -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />

    <!-- All logs to console -->
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
  </rules>
</nlog>
